<header class="header">
  <div class="wrapper wrapper-header">
    <div class="header__logo">
      <img src="assets/images/logo.png" alt="logo photo" />
      <a routerLink="/home" class="text text-logo">Wallet</a>
    </div>
    <div class="header__info">
      <p class="text text-header" *ngIf="user$ | async as user">
        {{ user.email }} |
      </p>
      <mat-icon class="purple-icon">exit_to_app</mat-icon>
      <a class="text text-header" (click)="logout()">Log out</a>
    </div>
  </div>
</header>
