<h1 mat-dialog-title>Update</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="transactionData.category" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Value</mat-label>
    <input matInput [(ngModel)]="transactionData.value" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="updateTransaction()">
    Update
  </button>
</div>
