.main {
  max-width: 1260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 24% 76%;

  &__left {
    justify-self: start;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__buttons {
    justify-content: flex-end;
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
}
