.button {
  border-radius: 15px;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 30px;
  border: none;
  color: $white;
  cursor: pointer;
  transition: all 0.3s;
   

  &-primary {
    background: $purple;
    border: 1px solid $purple;

    &:hover {
      background: $white;
      color: $purple;
    }
  }

  &-secondary {
    background: $black;
    border: 1px solid $black;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
